.hero-container {
  width: 320px;
  /* min-height: 350px; */
  padding: 20px;
  border: 2px solid var(--secondary-color);
  box-shadow: 8px 6px 0 var(--secondary-color);
}

.hero-heading-text {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

.hero-body-text {
  margin-top: 10px;
  color: var(--text-color);
  text-align: justify;
  line-height: 25px;
  font-size: 20px;
  font-weight: 400;
}