@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --primary-color: #F7F7FF;
  --secondary-color: #070600;
  --accent-color: #EA526F;
  --text-color: #070600;
  --text-color-light: #F7F7FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}